h2,
p,
h3,
li,
button {
  font-family: "Raleway", sans-serif;
  font-weight: 20;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Dawning of a New Day", cursive;
  font-size: 25px;
}

h3 {
  font-size: 25px;
}

li {
  font-size: 16px;
}

#root,
body,
html {
  min-height: 100%;
}

body {
  width: 1000px;
  margin: 0 auto;
  background-color: #f1f1f1;
}

@media only screen and (max-width: 1000px) {
  body {
    width: 100%;
  }
}

@media only screen and (max-width: 980px) {
  a,
  h2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 980px) {
  a {
    font-size: 23px;
  }
  #profile {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
  }
  #profile img {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #profile p,
  #profile h2,
  #profile h3 {
    margin: 0;
    padding: 10px;
  }
  #profile button {
    margin: 60px;
  }
  #profile h3 {
    margin: 40px;
  }
  #profileInfo {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  #projectImg {
    opacity: 1;
    -webkit-filter: blur(0px);
    transition: transform 0s;
    transform: scale(1);
  }
  #projectName {
    display: none;
  }
}

@media only screen and (max-width: 484px) {
  #icons {
    width: 100%;
    margin-right: 10px;
    text-align: center;
    margin-top: 20px;
  }
  a {
    margin: 0 auto;
  }
  #logo {
    padding: 0;
  }
}
